 *{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  margin-top: -88px;
  margin-left: 400px;
  width: 450px;
  height:350px;
  
;
}

.event {
background-color: #E87BF8 ;
width: 400px;
height: 350px;
}

.event h1 {
    text-align: center;
}
.my-event {
    display: flex;
}